{
  "openapi": "3.0.1",
  "info": {
    "title": "Azure Maps Weather Service",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://atlas.microsoft.com/"
    }
  ],
  "security": [
    {
      "AADToken": [
        "https://atlas.microsoft.com/.default"
      ]
    },
    {
      "SharedKey": []
    },
    {
      "SasToken": []
    }
  ],
  "paths": {
    "/weather/forecast/hourly/{format}": {
      "get": {
        "description": "**Get Hourly Forecast**\n\n**Applies to**: S0 and S1 pricing tiers.\n\n\nRequest detailed weather forecast by the hour for the next 1, 12, 24 (1 day), 72 (3 days), 120 (5 days), and 240 hours (10 days) for the given the given coordinate location.  The API returns details such as temperature, humidity, wind, precipitation, and ultraviolet (UV) index.\n\nIn S0 you can request hourly forecast for the next 1, 12, 24 hours (1 day), and 72 hours (3 days). In S1 you can also request hourly forecast for the next 120 (5 days) and 240 hours (10 days).",
        "operationId": "Weather_GetHourlyForecast",
        "parameters": [
          {
            "name": "x-ms-client-id",
            "in": "header",
            "description": "Specifies which account is intended for usage in conjunction with the Microsoft Entra ID security model.  It represents a unique ID for the Azure Maps account and can be retrieved from the Azure Maps management  plane Account API. To use Microsoft Entra ID security in Azure Maps see the following [articles](https://aka.ms/amauthdetails) for guidance.",
            "schema": {
              "type": "string",
              "default": "AZURE_MAPS_CLIENT_ID",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },

          {
            "name": "api-version",
            "in": "query",
            "description": "Version number of Azure Maps API. Current version is 1.0",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Desired format of the response. Only `json` format is supported.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "x-ms-enum": {
                "name": "JsonFormat",
                "modelAsString": true,
                "values": [
                  {
                    "value": "json",
                    "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "JsonFormat",
              "modelAsString": true,
              "values": [
                {
                  "value": "json",
                  "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Coordinates of the location for which hourly forecast information is requested. The applicable query is specified as a comma separated string composed by latitude followed by longitude e.g. \"47.641268,-122.125679\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Specifies to return the data in either metric units or imperial units. Default value is metric.",
            "schema": {
              "type": "string",
              "default": "metric",
              "enum": [
                "metric",
                "imperial"
              ],
              "x-ms-enum": {
                "name": "Unit",
                "modelAsString": true,
                "values": [
                  {
                    "value": "metric",
                    "description": "Return data in metric units. Some example units of metric system are Celsius and kilometer."
                  },
                  {
                    "value": "imperial",
                    "description": "Return data in imperial units. Some example units of imperial system are Fahrenheit and mile."
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "Unit",
              "modelAsString": true,
              "values": [
                {
                  "value": "metric",
                  "description": "Return data in metric units. Some example units of metric system are Celsius and kilometer."
                },
                {
                  "value": "imperial",
                  "description": "Return data in imperial units. Some example units of imperial system are Fahrenheit and mile."
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Time frame of the returned weather forecast. By default, the forecast data for next hour will be returned. Available values are\n  * `1` - Return forecast data for the next hour. Default value.\n  * `12` - Return hourly forecast for next 12 hours.\n  * `24` - Return hourly forecast for next 24 hours.\n  * `72` - Return hourly forecast for next 72 hours (3 days).\n  * `120` - Return hourly forecast for next 120 hours (5 days). Only available in S1 SKU. \n  * `240` - Return hourly forecast for next 240 hours (10 days). Only available in S1 SKU.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used.  Default value is en-us. \n\nPlease refer to [Supported languages](https://docs.microsoft.com/azure/azure-maps/supported-languages) for details.",
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HourlyForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access denied due to invalid subscription key or invalid Microsoft Entra ID bearer token.  Make sure to provide a valid key for an active Azure subscription and Maps resource.  Otherwise, verify the [WWW-Authenticate](https://tools.ietf.org/html/rfc6750#section-3.1) header for error code and description of the provided Microsoft Entra ID bearer token.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer realm=\"https://atlas.microsoft.com/\", error=\"invalid_token\", error_description=\"The access token expired\"",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission, capacity, or authentication issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An error occurred while processing the request. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "HourlyForecast": {
            "$ref": "./examples/GetHourlyForecast.json"
          }
        }
      }
    },
    "/weather/forecast/minute/{format}": {
      "get": {
        "description": "**Get Minute Forecast**\n  \n  \n**Applies to**: S1 pricing tier.\n\n\nGet Minute Forecast service returns minute-by-minute forecasts for a given location for the next 120 minutes.  Users can request weather forecasts in the interval of 1, 5 and 15 minutes.  The response will include details such as the type of precipitation (including rain, snow, or a mixture of both), start time, and precipitation intensity value (dBZ).",
        "operationId": "Weather_GetMinuteForecast",
        "parameters": [
          {
            "name": "x-ms-client-id",
            "in": "header",
            "description": "Specifies which account is intended for usage in conjunction with the Microsoft Entra ID security model.  It represents a unique ID for the Azure Maps account and can be retrieved from the Azure Maps management  plane Account API. To use Microsoft Entra ID security in Azure Maps see the following [articles](https://aka.ms/amauthdetails) for guidance.",
            "schema": {
              "type": "string",
              "default": "AZURE_MAPS_CLIENT_ID",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },

          {
            "name": "api-version",
            "in": "query",
            "description": "Version number of Azure Maps API. Current version is 1.0",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Desired format of the response. Only `json` format is supported.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "x-ms-enum": {
                "name": "JsonFormat",
                "modelAsString": true,
                "values": [
                  {
                    "value": "json",
                    "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "JsonFormat",
              "modelAsString": true,
              "values": [
                {
                  "value": "json",
                  "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Coordinates of the location for which minute forecast information is requested. The applicable query is specified as a comma separated string composed by latitude followed by longitude e.g. \"47.641268,-122.125679\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Specifies time interval in minutes for the returned weather forecast. Supported values are\n  * `1` -  Retrieve forecast for 1-minute intervals. Returned by default.\n  * `5` - Retrieve forecasts for 5-minute intervals.\n  * `15` - Retrieve forecasts for 15-minute intervals.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used.  Default value is en-us. \n\nPlease refer to [Supported languages](https://docs.microsoft.com/azure/azure-maps/supported-languages) for details.",
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinuteForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access denied due to invalid subscription key or invalid Microsoft Entra ID bearer token.  Make sure to provide a valid key for an active Azure subscription and Maps resource.  Otherwise, verify the [WWW-Authenticate](https://tools.ietf.org/html/rfc6750#section-3.1) header for error code and description of the provided Microsoft Entra ID bearer token.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer realm=\"https://atlas.microsoft.com/\", error=\"invalid_token\", error_description=\"The access token expired\"",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission, capacity, or authentication issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An error occurred while processing the request. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "MinuteForecast": {
            "$ref": "./examples/GetMinuteForecast.json"
          }
        }
      }
    },
    "/weather/forecast/quarterDay/{format}": {
      "get": {
        "description": "**Get Quarter-Day Forecast**\n  \n  \n**Applies to**: S0 and S1 pricing tiers.\n\n\nService returns detailed weather forecast by quarter-day for the next 1, 5, 10, or 15 days for a given location. Response data is presented by quarters of the day - morning, afternoon, evening, and overnight. Details such as temperature, humidity, wind, precipitation, and UV index are returned.",
        "operationId": "Weather_GetQuarterDayForecast",
        "parameters": [
          {
            "name": "x-ms-client-id",
            "in": "header",
            "description": "Specifies which account is intended for usage in conjunction with the Microsoft Entra ID security model.  It represents a unique ID for the Azure Maps account and can be retrieved from the Azure Maps management  plane Account API. To use Microsoft Entra ID security in Azure Maps see the following [articles](https://aka.ms/amauthdetails) for guidance.",
            "schema": {
              "type": "string",
              "default": "AZURE_MAPS_CLIENT_ID",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },

          {
            "name": "api-version",
            "in": "query",
            "description": "Version number of Azure Maps API. Current version is 1.0",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Desired format of the response. Only `json` format is supported.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "x-ms-enum": {
                "name": "JsonFormat",
                "modelAsString": true,
                "values": [
                  {
                    "value": "json",
                    "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "JsonFormat",
              "modelAsString": true,
              "values": [
                {
                  "value": "json",
                  "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Coordinates of the location for which quarter-day forecast information is requested. The applicable query is specified as a comma separated string composed by latitude followed by longitude e.g. \"47.641268,-122.125679\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Specifies to return the data in either metric units or imperial units. Default value is metric.",
            "schema": {
              "type": "string",
              "default": "metric",
              "enum": [
                "metric",
                "imperial"
              ],
              "x-ms-enum": {
                "name": "Unit",
                "modelAsString": true,
                "values": [
                  {
                    "value": "metric",
                    "description": "Return data in metric units. Some example units of metric system are Celsius and kilometer."
                  },
                  {
                    "value": "imperial",
                    "description": "Return data in imperial units. Some example units of imperial system are Fahrenheit and mile."
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "Unit",
              "modelAsString": true,
              "values": [
                {
                  "value": "metric",
                  "description": "Return data in metric units. Some example units of metric system are Celsius and kilometer."
                },
                {
                  "value": "imperial",
                  "description": "Return data in imperial units. Some example units of imperial system are Fahrenheit and mile."
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Specifies for how many days the quester-day forecast responses are returned. Supported values are:\n  * `1` - Return forecast data for the next day. Returned by default.\n  * `5` - Return forecast data for the next 5 days.\n  * `10` - Return forecast data for next 10 days.\n  * `15` - Return forecast data for the next 15 days.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used.  Default value is en-us. \n\nPlease refer to [Supported languages](https://docs.microsoft.com/azure/azure-maps/supported-languages) for details.",
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuarterDayForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access denied due to invalid subscription key or invalid Microsoft Entra ID bearer token.  Make sure to provide a valid key for an active Azure subscription and Maps resource.  Otherwise, verify the [WWW-Authenticate](https://tools.ietf.org/html/rfc6750#section-3.1) header for error code and description of the provided Microsoft Entra ID bearer token.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer realm=\"https://atlas.microsoft.com/\", error=\"invalid_token\", error_description=\"The access token expired\"",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission, capacity, or authentication issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An error occurred while processing the request. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "QuarterDayForecast": {
            "$ref": "./examples/GetQuarterDayForecast.json"
          }
        }
      }
    },
    "/weather/currentConditions/{format}": {
      "get": {
        "description": "**Get Current Conditions**\n  \n  \n**Applies to**: S0 and S1 pricing tiers.\n\n\nGet Current Conditions service returns detailed current weather conditions such as precipitation, temperature and wind for a given coordinate location. Also, observations from the past 6 or 24 hours for a particular location can be retrieved. The basic information returned with the response include details such as observation date and time, brief description of the weather conditions, weather icon, precipitation indicator flags, and temperature. Additional details such as RealFeel™ Temperature and UV index are also returned.",
        "operationId": "Weather_GetCurrentConditions",
        "parameters": [
          {
            "name": "x-ms-client-id",
            "in": "header",
            "description": "Specifies which account is intended for usage in conjunction with the Microsoft Entra ID security model.  It represents a unique ID for the Azure Maps account and can be retrieved from the Azure Maps management  plane Account API. To use Microsoft Entra ID security in Azure Maps see the following [articles](https://aka.ms/amauthdetails) for guidance.",
            "schema": {
              "type": "string",
              "default": "AZURE_MAPS_CLIENT_ID",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },

          {
            "name": "api-version",
            "in": "query",
            "description": "Version number of Azure Maps API. Current version is 1.0",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Desired format of the response. Only `json` format is supported.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "x-ms-enum": {
                "name": "JsonFormat",
                "modelAsString": true,
                "values": [
                  {
                    "value": "json",
                    "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "JsonFormat",
              "modelAsString": true,
              "values": [
                {
                  "value": "json",
                  "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Coordinates of the location for which current conditions information is requested. The applicable query is specified as a comma separated string composed by latitude followed by longitude e.g. \"47.641268,-122.125679\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Specifies to return the data in either metric units or imperial units. Default value is metric.",
            "schema": {
              "type": "string",
              "default": "metric",
              "enum": [
                "metric",
                "imperial"
              ],
              "x-ms-enum": {
                "name": "Unit",
                "modelAsString": true,
                "values": [
                  {
                    "value": "metric",
                    "description": "Return data in metric units. Some example units of metric system are Celsius and kilometer."
                  },
                  {
                    "value": "imperial",
                    "description": "Return data in imperial units. Some example units of imperial system are Fahrenheit and mile."
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "Unit",
              "modelAsString": true,
              "values": [
                {
                  "value": "metric",
                  "description": "Return data in metric units. Some example units of metric system are Celsius and kilometer."
                },
                {
                  "value": "imperial",
                  "description": "Return data in imperial units. Some example units of imperial system are Fahrenheit and mile."
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "details",
            "in": "query",
            "description": "Return full details for the current conditions. Available values are\n  * `true` - Returns full details. By default all details are returned.\n  * `false` - Returns a truncated version of the current condition data, which includes observation date time, weather phrase, icon code, precipitation indicator flag, and temperature.",
            "schema": {
              "type": "string",
              "default": "true"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Time frame of the returned weather conditions. By default, the most current weather conditions will be returned. Default value is 0. Supported values are:\n   * `0` - Return the most current weather conditions.\n   * `6` - Return weather conditions from past 6 hours.\n   * `24` - Return weather conditions from past 24 hours.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used.  Default value is en-us. \n\nPlease refer to [Supported languages](https://docs.microsoft.com/azure/azure-maps/supported-languages) for details.",
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentConditionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access denied due to invalid subscription key or invalid Microsoft Entra ID bearer token.  Make sure to provide a valid key for an active Azure subscription and Maps resource.  Otherwise, verify the [WWW-Authenticate](https://tools.ietf.org/html/rfc6750#section-3.1) header for error code and description of the provided Microsoft Entra ID bearer token.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer realm=\"https://atlas.microsoft.com/\", error=\"invalid_token\", error_description=\"The access token expired\"",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission, capacity, or authentication issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An error occurred while processing the request. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "CurrentConditions": {
            "$ref": "./examples/GetCurrentConditions.json"
          }
        }
      }
    },
    "/weather/forecast/daily/{format}": {
      "get": {
        "description": "**Get Daily Forecast**\n  \n  \n**Applies to**: S0 and S1 pricing tiers.\n\n\nThe service returns detailed weather forecast such as temperature and wind by day for the next 1, 5, 10, 15, 25, or 45 days for a given coordinate location.  The response include details such as temperature, wind, precipitation, air quality, and UV index.\n\nIn S0 you can request daily forecast for the next 1, 5, 10, and 15 days. In S1 you can also request daily forecast for the next 25 days, and 45 days.",
        "operationId": "Weather_GetDailyForecast",
        "parameters": [
          {
            "name": "x-ms-client-id",
            "in": "header",
            "description": "Specifies which account is intended for usage in conjunction with the Microsoft Entra ID security model.  It represents a unique ID for the Azure Maps account and can be retrieved from the Azure Maps management  plane Account API. To use Microsoft Entra ID security in Azure Maps see the following [articles](https://aka.ms/amauthdetails) for guidance.",
            "schema": {
              "type": "string",
              "default": "AZURE_MAPS_CLIENT_ID",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },

          {
            "name": "api-version",
            "in": "query",
            "description": "Version number of Azure Maps API. Current version is 1.0",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Desired format of the response. Only `json` format is supported.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "x-ms-enum": {
                "name": "JsonFormat",
                "modelAsString": true,
                "values": [
                  {
                    "value": "json",
                    "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "JsonFormat",
              "modelAsString": true,
              "values": [
                {
                  "value": "json",
                  "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Coordinates of the location for which current conditions information is requested. The applicable query is specified as a comma separated string composed by latitude followed by longitude e.g. \"47.641268,-122.125679\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Specifies to return the data in either metric units or imperial units. Default value is metric.",
            "schema": {
              "type": "string",
              "default": "metric",
              "enum": [
                "metric",
                "imperial"
              ],
              "x-ms-enum": {
                "name": "Unit",
                "modelAsString": true,
                "values": [
                  {
                    "value": "metric",
                    "description": "Return data in metric units. Some example units of metric system are Celsius and kilometer."
                  },
                  {
                    "value": "imperial",
                    "description": "Return data in imperial units. Some example units of imperial system are Fahrenheit and mile."
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "Unit",
              "modelAsString": true,
              "values": [
                {
                  "value": "metric",
                  "description": "Return data in metric units. Some example units of metric system are Celsius and kilometer."
                },
                {
                  "value": "imperial",
                  "description": "Return data in imperial units. Some example units of imperial system are Fahrenheit and mile."
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Specifies for how many days the daily forecast responses are returned. Available values are\n  * `1` - Return forecast data for the next day. Returned by default.\n  * `5` - Return forecast data for the next 5 days.\n  * `10` - Return forecast data for the next 10 days.\n  * `25` - Return forecast data for the next 25 days. Only available in S1 SKU.\n  * `45` - Return forecast data for the next 45 days. Only available in S1 SKU.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used.  Default value is en-us. \n\nPlease refer to [Supported languages](https://docs.microsoft.com/azure/azure-maps/supported-languages) for details.",
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access denied due to invalid subscription key or invalid Microsoft Entra ID bearer token.  Make sure to provide a valid key for an active Azure subscription and Maps resource.  Otherwise, verify the [WWW-Authenticate](https://tools.ietf.org/html/rfc6750#section-3.1) header for error code and description of the provided Microsoft Entra ID bearer token.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer realm=\"https://atlas.microsoft.com/\", error=\"invalid_token\", error_description=\"The access token expired\"",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission, capacity, or authentication issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An error occurred while processing the request. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "DailyForecast": {
            "$ref": "./examples/GetDailyForecast.json"
          }
        }
      }
    },
    "/weather/route/{format}": {
      "get": {
        "description": "**Get Weather along route**\n   \n   \n **Applies to**: S1 pricing tier.\n\n Weather along a route API returns hyper local (one kilometer or less), up-to-the-minute weather nowcasts, weather hazard assessments, and notifications along a route described as a sequence of waypoints. \n This includes a list of weather hazards affecting the waypoint or route, and the aggregated hazard index for each waypoint might be used to paint each portion of a route according to how safe it is for the driver. When submitting the waypoints, it is recommended to stay within, or close to, the distance that can be traveled within 120-mins or shortly after. Data is updated every five minutes. \n \n The service supplements Azure Maps [Route Service](https://docs.microsoft.com/rest/api/maps/route) that allows you to first request a route between an origin and a destination and use that as an input for Weather Along Route endpoint.\n \n In addition, the service supports scenarios to generate weather notifications for waypoints that experience an increase in intensity of a weather hazard. For example, if the vehicle is expected to begin experiencing heavy rain as it reaches a waypoint, a weather notification for heavy rain will be generated for that waypoint allowing the end product to display a heavy rain notification before the driver reaches that waypoint. \n The trigger for when to display the notification for a waypoint could be based, for example, on a [geofence](https://docs.microsoft.com/azure/azure-maps/tutorial-iot-hub-maps), or selectable distance to the waypoint.\n\n The API covers all regions of the planet except latitudes above Greenland and Antarctica.",
        "operationId": "Weather_GetWeatherAlongRoute",
        "parameters": [
          {
            "name": "x-ms-client-id",
            "in": "header",
            "description": "Specifies which account is intended for usage in conjunction with the Microsoft Entra ID security model.  It represents a unique ID for the Azure Maps account and can be retrieved from the Azure Maps management  plane Account API. To use Microsoft Entra ID security in Azure Maps see the following [articles](https://aka.ms/amauthdetails) for guidance.",
            "schema": {
              "type": "string",
              "default": "AZURE_MAPS_CLIENT_ID",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },

          {
            "name": "api-version",
            "in": "query",
            "description": "Version number of Azure Maps API. Current version is 1.0",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Desired format of the response. Only `json` format is supported.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "x-ms-enum": {
                "name": "JsonFormat",
                "modelAsString": true,
                "values": [
                  {
                    "value": "json",
                    "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "JsonFormat",
              "modelAsString": true,
              "values": [
                {
                  "value": "json",
                  "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Coordinates through which the route is calculated, separated by colon (:) and entered in chronological order. A minimum of two waypoints is required. A single API call may contain up to 60 waypoints. \nA waypoint indicates location, ETA, and optional heading: latitude,longitude,ETA,heading, where\n  * `Latitude` - Latitude coordinate in decimal degrees.\n  * `Longitude` - Longitude coordinate in decimal degrees.\n  * `ETA (estimated time of arrival)` - The number of minutes from the present time that it will take for the vehicle to reach the waypoint. Allowed range is from 0.0 to 120.0 minutes.\n  * `Heading` - An optional value indicating the vehicle heading as it passes the waypoint. Expressed in clockwise degrees relative to true north. This is issued to calculate sun glare as a driving hazard. Allowed range is from 0.0 to 360.0 degrees. If not provided, a heading will automatically be derived based on the position of neighboring waypoints.\n\nIt is recommended to stay within, or close to, the distance that can be traveled within 120-mins or shortly after. This way a more accurate assessment can be provided for the trip and prevent isolated events not being captured between waypoints.  Information can and should be updated along the route (especially for trips greater than 2 hours) to continuously pull new waypoints moving forward, but also to ensure that forecast information for content such as precipitation type and intensity is accurate as storms develop and dissipate over time.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used.  Default value is en-us. \n\nPlease refer to [Supported languages](https://docs.microsoft.com/azure/azure-maps/supported-languages) for details.",
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherAlongRouteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access denied due to invalid subscription key or invalid Microsoft Entra ID bearer token.  Make sure to provide a valid key for an active Azure subscription and Maps resource.  Otherwise, verify the [WWW-Authenticate](https://tools.ietf.org/html/rfc6750#section-3.1) header for error code and description of the provided Microsoft Entra ID bearer token.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer realm=\"https://atlas.microsoft.com/\", error=\"invalid_token\", error_description=\"The access token expired\"",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission, capacity, or authentication issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An error occurred while processing the request. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "WeatherAlongRoute": {
            "$ref": "./examples/GetWeatherAlongRoute.json"
          }
        }
      }
    },
    "/weather/severe/alerts/{format}": {
      "get": {
        "description": "**Get Severe Weather Alerts**\n\n**Applies to**: S0 and S1 pricing tiers.\n\nSevere weather phenomenon can significantly impact our everyday life and business operations. For example, severe weather conditions such as tropical storms, high winds or flooding can close roads and force logistics companies to reroute their fleet causing delays in reaching destinations and breaking the cold chain of refrigerated food products.  Azure Maps Severe Weather Alerts API returns the severe weather alerts that are available worldwide from both official Government Meteorological Agencies and leading global to regional weather alert providers. The service can return details such as alert type, category, level and detailed description about the active severe alerts for the requested location, like hurricanes, thunderstorms, lightning, heat waves or forest fires.",
        "operationId": "Weather_GetSevereWeatherAlerts",
        "parameters": [
          {
            "name": "x-ms-client-id",
            "in": "header",
            "description": "Specifies which account is intended for usage in conjunction with the Microsoft Entra ID security model.  It represents a unique ID for the Azure Maps account and can be retrieved from the Azure Maps management  plane Account API. To use Microsoft Entra ID security in Azure Maps see the following [articles](https://aka.ms/amauthdetails) for guidance.",
            "schema": {
              "type": "string",
              "default": "AZURE_MAPS_CLIENT_ID",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },

          {
            "name": "api-version",
            "in": "query",
            "description": "Version number of Azure Maps API. Current version is 1.0",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Desired format of the response. Only `json` format is supported.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "x-ms-enum": {
                "name": "JsonFormat",
                "modelAsString": true,
                "values": [
                  {
                    "value": "json",
                    "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "JsonFormat",
              "modelAsString": true,
              "values": [
                {
                  "value": "json",
                  "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Coordinates of the location for which severe weather alerts are requested. The applicable query is specified as a comma separated string composed by latitude followed by longitude e.g. \"47.641268,-122.125679\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used.  Default value is en-us. \n\nPlease refer to [Supported languages](https://docs.microsoft.com/azure/azure-maps/supported-languages) for details.",
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "details",
            "in": "query",
            "description": "Return full details for the severe weather alerts. Available values are\n  * `true` - Returns full details. By default all details are returned.\n  * `false` - Returns a truncated version of the alerts data, which excludes the area-specific full description of alert details (`alertDetails`).",
            "schema": {
              "type": "string",
              "default": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK,",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SevereWeatherAlertsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access denied due to invalid subscription key or invalid Microsoft Entra ID bearer token.  Make sure to provide a valid key for an active Azure subscription and Maps resource.  Otherwise, verify the [WWW-Authenticate](https://tools.ietf.org/html/rfc6750#section-3.1) header for error code and description of the provided Microsoft Entra ID bearer token.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer realm=\"https://atlas.microsoft.com/\", error=\"invalid_token\", error_description=\"The access token expired\"",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission, capacity, or authentication issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An error occurred while processing the request. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "SevereWeatherAlert": {
            "$ref": "./examples/GetSevereWeatherAlerts.json"
          }
        }
      }
    },
    "/weather/indices/daily/{format}": {
      "get": {
        "description": "**Get Daily Indices**\n\n**Applies to**: S0 and S1 pricing tiers.\n\nThere may be times when you want to know if the weather conditions are optimal for a specific activity, for example, for outdoor construction, indoor activities, running or farming including soil moisture information.  Azure Maps Indices API returns index values that will guide end users to plan future activities. For example, a health mobile application can notify users that today is good weather for running or for other outdoors activities like for playing golf, and retail stores can optimize their digital marketing campaigns based on predicted index values. The service returns in daily indices values for current and next 5, 10 and 15 days starting from current day.",
        "operationId": "Weather_GetDailyIndices",
        "parameters": [
          {
            "name": "x-ms-client-id",
            "in": "header",
            "description": "Specifies which account is intended for usage in conjunction with the Microsoft Entra ID security model.  It represents a unique ID for the Azure Maps account and can be retrieved from the Azure Maps management  plane Account API. To use Microsoft Entra ID security in Azure Maps see the following [articles](https://aka.ms/amauthdetails) for guidance.",
            "schema": {
              "type": "string",
              "default": "AZURE_MAPS_CLIENT_ID",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },

          {
            "name": "api-version",
            "in": "query",
            "description": "Version number of Azure Maps API. Current version is 1.0",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0",
              "x-ms-parameter-location": "client"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Desired format of the response. Only `json` format is supported.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "x-ms-enum": {
                "name": "JsonFormat",
                "modelAsString": true,
                "values": [
                  {
                    "value": "json",
                    "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                  }
                ]
              },
              "x-ms-parameter-location": "method"
            },
            "x-ms-enum": {
              "name": "JsonFormat",
              "modelAsString": true,
              "values": [
                {
                  "value": "json",
                  "description": "[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)"
                }
              ]
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Coordinates of the location for which daily indices are requested. The applicable query is specified as a comma separated string composed by latitude followed by longitude e.g. \"47.641268,-122.125679\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used.  Default value is en-us. \n\nPlease refer to [Supported languages](https://docs.microsoft.com/azure/azure-maps/supported-languages) for details.",
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Specifies for how many days the daily indices are returned. By default, the indices data for the current day will be returned. When requesting future indices data, the current day is included in the response as day 1. Available values are\n  * `1` - Return daily index data for the current day. Default value.\n  * `5` - Return 5 days of daily index data starting from the current day.\n  * `10` - Return 10 days of daily index data starting from the current day.\n  * `15` - Return 15 days of daily index data starting from the current day.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "indexId",
            "in": "query",
            "description": "Numeric index identifier that can be used for restricting returned results to the corresponding index type. Cannot be paired with `indexGroupId`. Please refer to [Weather Service Concepts](https://aka.ms/AzureMapsWeatherConcepts) for details and to see the supported indices.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "indexGroupId",
            "in": "query",
            "description": "Numeric index group identifier that can be used for restricting returned results to the corresponding subset of indices (index group). Cannot be paired with `indexId`. Please refer to [Weather Service Concepts](https://aka.ms/AzureMapsWeatherConcepts) for details and to see the supported index groups.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyIndicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access denied due to invalid subscription key or invalid Microsoft Entra ID bearer token.  Make sure to provide a valid key for an active Azure subscription and Maps resource.  Otherwise, verify the [WWW-Authenticate](https://tools.ietf.org/html/rfc6750#section-3.1) header for error code and description of the provided Microsoft Entra ID bearer token.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer realm=\"https://atlas.microsoft.com/\", error=\"invalid_token\", error_description=\"The access token expired\"",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission, capacity, or authentication issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "An error occurred while processing the request. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataErrorResponse"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "DailyIndices": {
            "$ref": "./examples/GetDailyIndices.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ODataErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ODataError"
          }
        },
        "description": "This response object is returned when an error occurs in the Azure Maps API."
      },
      "ODataError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The ODataError code.",
            "readOnly": true
          },
          "message": {
            "type": "string",
            "description": "If available, a human-readable description of the error.",
            "readOnly": true
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ODataError"
            }
          },
          "target": {
            "type": "string",
            "description": "If available, the target causing the error.",
            "readOnly": true
          }
        },
        "description": "This object is returned when an error occurs in the Azure Maps API."
      },
      "WeatherUnit": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Rounded value.",
            "format": "float"
          },
          "unit": {
            "type": "string",
            "description": "Type of unit for the returned value."
          },
          "unitType": {
            "type": "integer",
            "description": "Numeric ID value associated with the type of unit being displayed. Can be used for unit translation. Please refer to [Weather Service Concepts](https://aka.ms/AzureMapsWeatherConcepts) for details.",
            "format": "int32"
          }
        }
      },
      "Wind": {
        "type": "object",
        "properties": {
          "direction": {
            "$ref": "#/components/schemas/WindDirection"
          },
          "speed": {
            "$ref": "#/components/schemas/WindSpeed"
          }
        },
        "description": "Wind details being returned including speed and direction."
      },
      "WindDirection": {
        "type": "object",
        "properties": {
          "degrees": {
            "type": "number",
            "description": "Wind direction in Azimuth degrees,  starting at true North and continuing in clockwise direction. North is 0 degrees, east is 90 degrees, south is 180 degrees, west is 270 degrees. Possible values 0-359.",
            "format": "float"
          },
          "localizedDescription": {
            "type": "string",
            "description": "Direction abbreviation in the specified language."
          }
        },
        "description": "Wind direction"
      },
      "WindSpeed": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Rounded value of the speed.",
            "format": "float"
          },
          "unit": {
            "type": "string",
            "description": "Type of unit for the speed value."
          },
          "unitType": {
            "type": "integer",
            "description": "Numeric ID value associated with the type of unit being displayed. Can be used for unit translation. Please refer to [Weather Service Concepts](https://aka.ms/AzureMapsWeatherConcepts) for details.",
            "format": "int32"
          }
        },
        "description": "Speed of wind in specified unit."
      },
      "WeatherUnitRange": {
        "type": "object",
        "properties": {
          "minimum": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "maximum": {
            "$ref": "#/components/schemas/WeatherUnit"
          }
        },
        "description": "Returned temperature values."
      },
      "UVIndex": {
        "type": "integer",
        "description": "Measure of the strength of the ultraviolet radiation from the sun. Supported values are:\n  * `0-2` - Low danger from the sun's UV rays or the average person.\n  * `3-5` - Moderate risk of harm from unprotected sun exposure.\n  * `6-7` - High risk of harm from unprotected sun exposure.\n  * `8-10` - Very high risk of harm from unprotected sun exposure.\n  * `11+` - Extreme risk of harm from unprotected sun exposure.",
        "format": "int32"
      },
      "HazardIndex": {
        "type": "integer",
        "description": "A severity/hazard index.\n  * `0` - No hazard.\n  * `1` - Be informed, be aware.\n  * `2` - Pay attention, be prepared.\n  * `3` - Take action.\n  * `4` - Life threatening, emergency.",
        "format": "int32"
      },
      "HourlyForecast": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date and time of the forecast in ISO 8601 format, for example, 2019-10-27T19:39:57-08:00."
          },
          "iconCode": {
            "type": "integer",
            "description": "Numeric value representing an image that displays the `iconPhrase`. Please refer to [Weather Service Concepts](https://aka.ms/AzureMapsWeatherConcepts) for details.",
            "format": "int32"
          },
          "iconPhrase": {
            "type": "string",
            "description": "Phrase description of the weather icon."
          },
          "hasPrecipitation": {
            "type": "boolean",
            "description": "Indicates the presence or absence of precipitation. True indicates the presence of precipitation, false indicates the absence of precipitation."
          },
          "isDaylight": {
            "type": "boolean",
            "description": "Specifies whether or not it is daylight. True indicates day light."
          },
          "temperature": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "realFeelTemperature": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "wetBulbTemperature": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "dewPoint": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "wind": {
            "$ref": "#/components/schemas/Wind"
          },
          "windGust": {
            "$ref": "#/components/schemas/Wind"
          },
          "relativeHumidity": {
            "type": "integer",
            "description": "Relative humidity is the amount of water vapor present in air expressed as a percentage of the amount needed for saturation at the same temperature.",
            "format": "int32"
          },
          "visibility": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "ceiling": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "uvIndex": {
            "$ref": "#/components/schemas/UVIndex"
          },
          "uvIndexPhrase": {
            "type": "string",
            "description": "Phrase associated with the `uvIndex`."
          },
          "precipitationProbability": {
            "type": "integer",
            "description": "Percent representing the probability of precipitation. For example, '20'.",
            "format": "int32"
          },
          "rainProbability": {
            "type": "integer",
            "description": "Percent representing the probability of rain. For example, '50'.",
            "format": "int32"
          },
          "snowProbability": {
            "type": "integer",
            "description": "Percent representing the probability of snow. For example, '50'.",
            "format": "int32"
          },
          "iceProbability": {
            "type": "integer",
            "description": "Percent representing the probability of snow. For example, '5'.",
            "format": "int32"
          },
          "totalLiquid": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "rain": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "snow": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "ice": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "cloudCover": {
            "type": "integer",
            "description": "Percent representing cloud cover.",
            "format": "int32"
          }
        }
      },
      "HourlyForecastResponse": {
        "type": "object",
        "properties": {
          "forecasts": {
            "type": "array",
            "description": "Forecast data for each returned hour.",
            "items": {
              "$ref": "#/components/schemas/HourlyForecast"
            }
          }
        }
      },
      "MinuteForecastSummary": {
        "type": "object",
        "properties": {
          "briefPhrase60": {
            "type": "string",
            "description": "Summary phrase for the next 60 minutes. Phrase length is approximately 60 characters."
          },
          "shortPhrase": {
            "type": "string",
            "description": "Short summary phrase for the next 120 minutes. Phrase length is approximately 25 characters."
          },
          "briefPhrase": {
            "type": "string",
            "description": "Summary phrase for the next 120 minutes. Phrase length is approximately 60 characters."
          },
          "longPhrase": {
            "type": "string",
            "description": "Long summary phrase for the next 120 minutes. Phrase length is 60+ characters."
          },
          "iconCode": {
            "type": "integer",
            "description": "Numeric value representing an image that displays the `iconPhrase`. Please refer to [Weather Service Concepts](https://aka.ms/AzureMapsWeatherConcepts) for details.",
            "format": "int32"
          }
        },
        "description": "Phrase summaries for the entire forecast period."
      },
      "IntervalSummary": {
        "type": "object",
        "properties": {
          "startMinute": {
            "type": "integer",
            "description": "The first minute to which the summary applies.",
            "format": "int32"
          },
          "endMinute": {
            "type": "integer",
            "description": "The last minute to which the summary applies.",
            "format": "int32"
          },
          "totalMinutes": {
            "type": "integer",
            "description": "The number of minutes for which the summary applies.",
            "format": "int32"
          },
          "shortPhrase": {
            "type": "string",
            "description": "Short summary phrase. Phrase length is approximately 25 characters."
          },
          "briefPhrase": {
            "type": "string",
            "description": "Brief summary phrase. Phrase length is approximately 60 characters."
          },
          "longPhrase": {
            "type": "string",
            "description": "Long summary phrase. Phrase length is 60+ characters."
          },
          "iconCode": {
            "type": "integer",
            "description": "Numeric value representing an image that displays the `iconPhrase`. Please refer to [Weather Service Concepts](https://aka.ms/AzureMapsWeatherConcepts) for details.",
            "format": "int32"
          }
        }
      },
      "Interval": {
        "type": "object",
        "properties": {
          "startTime": {
            "type": "string",
            "description": "The date and time for the start of the interval in ISO 8601 format, for example, 2019-10-27T19:39:57-08:00."
          },
          "minute": {
            "type": "integer",
            "description": "The first minute for the interval.",
            "format": "int32"
          },
          "dbz": {
            "type": "number",
            "description": "A unit that represents forecasted precipitation intensity.",
            "format": "double"
          },
          "shortPhrase": {
            "type": "string",
            "description": "A short phrase describing precipitation condition for the interval."
          },
          "threshold": {
            "type": "string",
            "description": "Key that specifies the threshold value. Along with precipitationType, can be used to determine the simplifiedColor. If dbz is zero, not present in the response."
          },
          "color": {
            "$ref": "#/components/schemas/Color"
          },
          "simplifiedColor": {
            "$ref": "#/components/schemas/Color"
          },
          "precipitationType": {
            "type": "string",
            "description": "Specifies the type of precipitation (\"rain\" \"snow\" \"ice\" or \"mix\"). If dbz is zero, precipitationType is not present in the response."
          },
          "iconCode": {
            "type": "integer",
            "description": "Numeric value representing an image that displays the `iconPhrase`. Please refer to [Weather Service Concepts](https://aka.ms/AzureMapsWeatherConcepts) for details.",
            "format": "int32"
          },
          "cloudCover": {
            "type": "integer",
            "description": "Percent representing cloud cover.",
            "format": "int32"
          }
        }
      },
      "MinuteForecastResponse": {
        "type": "object",
        "properties": {
          "summary": {
            "$ref": "#/components/schemas/MinuteForecastSummary"
          },
          "intervalSummaries": {
            "type": "array",
            "description": "Summary information for each interval in the forecast. The Summaries breaks down each potential interval where precipitation starts and stops.",
            "items": {
              "$ref": "#/components/schemas/IntervalSummary"
            }
          },
          "intervals": {
            "type": "array",
            "description": "Forecast data for each interval in the forecast.",
            "items": {
              "$ref": "#/components/schemas/Interval"
            }
          }
        }
      },
      "Color": {
        "type": "object",
        "properties": {
          "red": {
            "type": "integer",
            "description": "Red component of the RGB value.",
            "format": "int32"
          },
          "green": {
            "type": "integer",
            "description": "Green component of the RGB value.",
            "format": "int32"
          },
          "blue": {
            "type": "integer",
            "description": "Blue component of the RGB value",
            "format": "int32"
          },
          "hex": {
            "type": "string",
            "description": "Hexadecimal color value."
          }
        }
      },
      "QuarterDayForecast": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date and time of the forecast in ISO 8601 format, for example, 2019-10-27T19:39:57-08:00."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date and time of the beginning of the forecast quarter displayed in ISO 8601 format, for example, 2019-10-27T19:39:57-08:00."
          },
          "quarter": {
            "type": "integer",
            "description": "Quarter of the day.",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3
            ],
            "x-ms-enum": {
              "name": "Quarter",
              "modelAsString": true,
              "values": [
                {
                  "value": 0,
                  "description": "7:00 am - 1:00 pm / 7:00- 13:00"
                },
                {
                  "value": 1,
                  "description": "1:00 pm - 7:00 pm/ 13:00- 19:00"
                },
                {
                  "value": 2,
                  "description": "7:00 pm - 1:00 am/ 19:00 - 01:00"
                },
                {
                  "value": 3,
                  "description": "1:00 am - 7:00 am/ 01:00 - 07:00"
                }
              ]
            }
          },
          "iconCode": {
            "type": "integer",
            "description": "Numeric value representing an image that displays the `iconPhrase`. Please refer to [Weather Service Concepts](https://aka.ms/AzureMapsWeatherConcepts) for details.",
            "format": "int32"
          },
          "iconPhrase": {
            "type": "string",
            "description": "Phrase description of the icon. Displayed in specified language. For example, 'Sunny'."
          },
          "phrase": {
            "type": "string",
            "description": "Short summary phrase summary for quarter."
          },
          "temperature": {
            "$ref": "#/components/schemas/WeatherUnitRange"
          },
          "realFeelTemperature": {
            "$ref": "#/components/schemas/WeatherUnitRange"
          },
          "dewPoint": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "relativeHumidity": {
            "type": "integer",
            "description": "Relative humidity is the amount of water vapor present in air expressed as a percentage of the amount needed for saturation at the same temperature.",
            "format": "int32"
          },
          "wind": {
            "$ref": "#/components/schemas/Wind"
          },
          "windGust": {
            "$ref": "#/components/schemas/Wind"
          },
          "visibility": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "cloudCover": {
            "type": "integer",
            "description": "Percent representing cloud cover.",
            "format": "int32"
          },
          "hasPrecipitation": {
            "type": "boolean",
            "description": "Indicates the presence or absence of precipitation. True indicates the presence of precipitation, false indicates the absence of precipitation."
          },
          "precipitationType": {
            "type": "string",
            "description": "Specifies the type of precipitation (\"rain\" \"snow\" \"ice\" or \"mix\"). If dbz = zero, precipitationType is not present in the response."
          },
          "precipitationIntensity": {
            "type": "string",
            "description": "Description of the intensity."
          },
          "precipitationProbability": {
            "type": "integer",
            "description": "Percent representing the probability of precipitation. For example, '20'.",
            "format": "int32"
          },
          "thunderstormProbability": {
            "type": "integer",
            "description": "Percent representing the probability of a thunderstorm. For example, '10'.",
            "format": "int32"
          },
          "totalLiquid": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "rain": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "snow": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "ice": {
            "$ref": "#/components/schemas/WeatherUnit"
          }
        }
      },
      "QuarterDayForecastResponse": {
        "type": "object",
        "properties": {
          "forecasts": {
            "type": "array",
            "description": "Forecast data for each quarter in the response.",
            "items": {
              "$ref": "#/components/schemas/QuarterDayForecast"
            }
          }
        }
      },
      "CurrentConditionsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CurrentConditions"
            }
          }
        }
      },
      "PressureTendency": {
        "type": "object",
        "properties": {
          "localizedDescription": {
            "type": "string",
            "description": "Description of the pressure tendency in specified language"
          },
          "code": {
            "type": "string",
            "description": "Pressure tendency code regardless of language. One of F=Falling, S=Steady, R=Rising."
          }
        }
      },
      "PrecipitationSummary": {
        "type": "object",
        "properties": {
          "pastHour": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "past3Hours": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "past6Hours": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "past9Hours": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "past12Hours": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "past18Hours": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "past24Hours": {
            "$ref": "#/components/schemas/WeatherUnit"
          }
        }
      },
      "TemperatureSummary": {
        "type": "object",
        "properties": {
          "past6Hours": {
            "type": "object",
            "properties": {
              "minimum": {
                "$ref": "#/components/schemas/WeatherUnit"
              },
              "maximum": {
                "$ref": "#/components/schemas/WeatherUnit"
              }
            },
            "description": "Summary of temperature fluctuations over the past 6 hours."
          },
          "past12Hours": {
            "type": "object",
            "properties": {
              "minimum": {
                "$ref": "#/components/schemas/WeatherUnit"
              },
              "maximum": {
                "$ref": "#/components/schemas/WeatherUnit"
              }
            },
            "description": "Summary of temperature fluctuations over the past 12 hours."
          },
          "past24Hours": {
            "type": "object",
            "properties": {
              "minimum": {
                "$ref": "#/components/schemas/WeatherUnit"
              },
              "maximum": {
                "$ref": "#/components/schemas/WeatherUnit"
              }
            },
            "description": "Summary of temperature fluctuations over the past 24 hours."
          }
        }
      },
      "CurrentConditions": {
        "type": "object",
        "properties": {
          "dateTime": {
            "type": "string",
            "description": "Date and time of the current observation displayed in ISO 8601 format, for example, 2019-10-27T19:39:57-08:00."
          },
          "phrase": {
            "type": "string",
            "description": "Phrase description of the current weather condition.  Displayed in specified language."
          },
          "iconCode": {
            "type": "integer",
            "description": "Numeric value representing an image that displays the `iconPhrase`. Please refer to [Weather Service Concepts](https://aka.ms/AzureMapsWeatherConcepts) for details.",
            "format": "int32"
          },
          "hasPrecipitation": {
            "type": "boolean",
            "description": "Indicates the presence or absence of precipitation. True indicates the presence of precipitation, false indicates the absence of precipitation."
          },
          "isDayTime": {
            "type": "boolean",
            "description": "Indicates the time of the day. True indicates 'day',', false indicates 'night."
          },
          "temperature": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "realFeelTemperature": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "realFeelTemperatureShade": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "relativeHumidity": {
            "type": "integer",
            "description": "Relative humidity is the amount of water vapor present in air expressed as a percentage of the amount needed for saturation at the same temperature.",
            "format": "int32"
          },
          "dewPoint": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "wind": {
            "$ref": "#/components/schemas/Wind"
          },
          "windGust": {
            "$ref": "#/components/schemas/Wind"
          },
          "uvIndex": {
            "$ref": "#/components/schemas/UVIndex"
          },
          "uvIndexPhrase": {
            "type": "string",
            "description": "Phrase associated with the `uvIndex`."
          },
          "visibility": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "obstructionsToVisibility": {
            "type": "string",
            "description": "Cause of limited visibility."
          },
          "cloudCover": {
            "type": "integer",
            "description": "Percent representing cloud cover.",
            "format": "int32"
          },
          "ceiling": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "pressure": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "pressureTendency": {
            "$ref": "#/components/schemas/PressureTendency"
          },
          "past24HourTemperatureDeparture": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "apparentTemperature": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "windChillTemperature": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "wetBulbTemperature": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "precipitationSummary": {
            "$ref": "#/components/schemas/PrecipitationSummary"
          },
          "temperatureSummary": {
            "$ref": "#/components/schemas/TemperatureSummary"
          }
        }
      },
      "DailyForecastSummary": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "description": "Date and time that the summary is in effect, displayed in ISO 8601 format, for example, 2019-10-27T19:39:57-08:00."
          },
          "endDate": {
            "type": "string",
            "description": "Date and time that the summary period ends, displayed in ISO 8601 format, for example, 2019-10-27T19:39:57-08:00."
          },
          "severity": {
            "type": "integer",
            "description": "severity",
            "format": "int32"
          },
          "phrase": {
            "type": "string",
            "description": "Summary phrase of the daily forecast.  Displayed in specified language."
          },
          "category": {
            "type": "string",
            "description": "one or 2 word(s) to summarize the phrase."
          }
        },
        "description": "Summary for the main conditions for the requested time period. Notice that summary can cover only part of the time period."
      },
      "DegreeDaySummary": {
        "type": "object",
        "properties": {
          "heating": {
            "$ref": "#/components/schemas/WeatherUnit"
          },
          "cooling": {
            "$ref": "#/components/schemas/WeatherUnit"
          }
        }
      },
      "AirAndPollen": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the pollen or pollutant. For example, grass, mold, weed, air quality, tree and UV index."
          },
          "value": {
            "type": "integer",
            "description": "Value of the given type above. Values associated with mold, grass, weed and tree are in units of parts per cubic meter. Both air quality and UV are indices, so they are unitless.",
            "format": "int32"
          },
          "category": {
            "type": "string",
            "description": "Category of the air quality or pollution type. For example, low, high, good, moderate, unhealthy, hazardous."
          },
          "categoryValue": {
            "type": "integer",
            "description": "Value associated with the air quality or pollution category. These values range from 1 to 6. 1 implying good conditions, 6 implying hazardous conditions.",
            "format": "int32"
          },
          "type": {
            "type": "string",
            "description": "Only exists for air quality. Examples include ozone and particle pollution."
          }
        }
      },
      "DailyForecast": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date and time of the current observation displayed in ISO 8601 format, for example, 2019-10-27T19:39:57-08:00."
          },
          "temperature": {
            "$ref": "#/components/schemas/WeatherUnitRange"
          },
          "realFeelTemperature": {
            "$ref": "#/components/schemas/WeatherUnitRange"
          },
          "realFeelTemperatureShade": {
            "$ref": "#/components/schemas/WeatherUnitRange"
          },
          "hoursOfSun": {
            "type": "number",
            "description": "Hours of sun.",
            "format": "float"
          },
          "degreeDaySummary": {
            "$ref": "#/components/schemas/DegreeDaySummary"
          },
          "airAndPollen": {
            "type": "array",
            "description": "airAndPollen",
            "items": {
              "$ref": "#/components/schemas/AirAndPollen"
            }
          },
          "day": {
            "$ref": "#/components/schemas/DayOrNight"
          },
          "night": {
            "$ref": "#/components/schemas/DayOrNight"
          },
          "sources": {
[...]
